footer#mastfoot.clearfix
	.container
		.twelve.columns
			.supporters
				h3(translate="") and supported by
				a(href="http://icfj.org", target="_blank", title="International Center for Journalists", rel="external")
					img(src="/img/icfj.jpg", alt="International Center for Journalists")
				a(href="http://avina.net", target="_blank", title="AVINA", rel="external")
					img(src="/img/logo_avina.jpg", alt="AVINA")
				a(href="http://skollfoundation.org/", target="_blank", title="Skoll Foundation", rel="external")
					img(src="/img/skoll.png", alt="Skoll Foundation")
			.by
				h3(translate="") Project by
				a(href="http://oeco.org.br/", target="_blank", title="OEco", rel="external")
					img(src="/img/oeco.png", alt="OEco")
				a(href="http://internews.org/", target="_blank", title="Internews", rel="external")
					img(src="/img/internews.jpg", alt="Internews")

script(type='text/javascript', src='/lib/vendor.js')
script(type='text/javascript', src='/app.js')
script(type='text/javascript', src='/infoamazonia-agua.js')
