<article class="content list-item">
	<header class="post-header">
		<h2><a href="{{baseUrl}}/content/{{content._id}}">{{content.title}}</a></h2>
		<p class="meta clearfix">
			<span class="publisher" ng-controller="UserCtrl">
				<span class="lsf">clip</span>
				<span class="publiser-content"><a href="{{profileUrl(content.creator)}}/">{{content.creator.name}}</a></span>
			</span>
		</p>
	</header>
	<section class="post-content" dynamic="renderBlock(content.sirTrevorData[0])"></section>
	<p class="readmore"><a href="{{baseUrl}}/content/{{content._id}}" translate>Read more</a></p>
</div>