<section id="stage-map" class="row">

	<nav id="stage-filters">
		<div class="container">
			<div class="twelve columns">
				<div style="width:65%;float:left;">
					<div class="layers filter-input">
						<ul class="filter-list">
							<li ng-repeat="layer in mapFeatureLayers" ng-click="filterLayer(layer)" ng-class="{active: filters.layer == layer}">{{layer.title}}</li>
						</ul>
					</div>
				</div>
				<div style="width:35%;float:left;">
					<div class="search filter-input">
						<input type="text" ng-model="contentsFilter" placeholder="{{'Search reports' | translate}}" />
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div ng-controller="FeatureCtrl">
		<div class="map-container" ng-controller="MapCtrl" ng-init="initMap(mapId, mapOptions)">
			<div id="map"></div>
		</div>
	</div>

	<div id="stage-summary">
		<article id="main-count">
			<span class="count content">{{contents.length}}</span>
			<span class="label content" translate>reports found</span>
			<br/>
			<span class="connector" translate>in</span>
			<span class="count feature">{{features.length}}</span>
			<span class="label feature" translate>locations</span>
		</article>
		<table id="layer-count" ng-hide="filters.layer">
			<tr ng-repeat="layer in mapFeatureLayers">
				<th>{{layer.title}}</th>
				<td>123</td>
			</tr>
		</table>
	</div>

</section>
<section id="contents" class="loop-section anti-row">
	<div class="section-title">
		<div class="container">
			<div class="twelve columns">
				<h3 translate>Latest reports</h3>
			</div>
		</div>
	</div>
	<div ng-controller="ContentCtrl" class="content row">
		<div class="container">
			<ul class="list-posts row">
				<li class="four columns" ng-repeat="content in latestReports">
					<div ng-include="templates.list" autoscroll="false"></div>
				</li>
			</ul>
		</div>
	</div>
</section>