<div class="modal share-modal">
	<div class="modal-container">
		<div class="modal-content">
			<a href="javascript:void(0);" class="close-button lsf" ng-click="closeEmailModal()" title="{{'Close' | translate}}">&#xE10f;</a>
			<div class="change-email-form">
				<h4 translate>Change email</h4>
				<input type="text" placeholder="{{'Your new email' | translate}}" ng-model="user.newEmail" />
				<a class="button" ng-click="changeEmail(user)" translate>Send email confirmation</a>
			</div>
		</div>
	</div>
</div>