<div class="regular-page profile-page">
	<div class="profile-header row">
		<div class="container">
			<div class="two columns">
				<img src="{{user.gravatar(240)}}" alt="{{user.name}}" />
			</div>
			<div class="five columns">
				<h1>
					<span class="user-name">{{user.name}}</span>
				</h1>
			</div>
		</div>
	</div>
	<div ui-view autoscroll="false">
		<div class="container">
			<div class="four columns">
				<p class="bio" ng-show="user.bio">{{user.bio}}</p>
			</div>
			<div class="eight columns">
				<ul class="content-list">
					<li ng-repeat="content in contents">
						<div ng-include="'/views/content/list-item.html'" autoscroll="false"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>