<section id="stage-map" class="row" ng-controller="MapFilterCtrl">

	<div ng-class="{reading: reading}">

		<nav id="stage-filters">
			<div class="container">
				<div class="twelve columns">
					<div style="width:65%;float:left;">
						<div class="layers filter-input">
							<ul class="filter-list">
								<li ng-repeat="l in mapFeatureLayers" ng-click="updateState('layer', l._id)" ng-class="{active: filteredData.layer == l}">
									<span translate>{{l.title}}</span>
									<span class="count" ng-show="counts.byLayer[l.title]">{{counts.byLayer[l.title]}}</span>
									<p class="description" ng-show="filteredData.layer == l" translate>{{l.description}}</p>
								</li>
							</ul>
						</div>
					</div>
					<div style="width:35%;float:left;">
						<div class="search filter-input">
							<input type="text" ng-model="textFilter" placeholder="{{'Type your search' | translate}}" />
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div id="content-title" class="section-title" ng-show="content">
			<div class="container">
				<div class="eight columns">
					<p class="layer">{{content.layer.title}}</p>
					<h2>{{content.title}}</h2>
				</div>
				<div class="four columns">
					<div class="content-author">
						<div class="author-thumb">
							<a href="/user/{{content.creator.username}}/"><img src="{{gravatar(content.creator.email)}}" /></a>
						</div>
						<h3><a href="/user/{{content.creator.username}}/">{{content.creator.name}}</a></h3>
						<a href="/user/{{content.creator.username}}/">Ver perfil</a>
					</div>
				</div>
			</div>
		</div>

		<div ng-controller="FeatureCtrl">
			<div class="map-container" ng-controller="MapCtrl" ng-init="initMap(mapId, mapOptions)">
				<div id="map"></div>
			</div>
		</div>

		<nav id="stage-address-filter" class="subfilter">
			<div class="country-select">
				<div ng-show="filteredData.country || filteredData.state || filteredData.city">
					<p class="tip"><span translate>Selected</span>:</p>
					<ul class="selected-list">
						<li ng-show="filteredData.country" ng-click="updateState({'country': '', 'state': '', 'city': ''})">{{filteredData.country}}</li>
						<li ng-show="filteredData.state" ng-click="updateState({'state': '', 'city': ''})">{{filteredData.state}}</li>
						<li ng-show="filteredData.city" ng-click="updateState('city', '')">{{filteredData.city}}</li>
					</ul>
				</div>
				<div ng-hide="countries.length == 1 || filteredData.country">
					<p class="tip"><span translate>Filter by country</span>:</p>
					<ul class="country-list">
						<li ng-repeat="country in countries" ng-click="updateState('country', country.name)">{{country.name}}</li>
					</ul>
				</div>
				<div ng-hide="states.length == 1 || countries.length > 1 || filteredData.state">
					<p class="tip"><span translate>Filter by state</span>:</p>
					<ul class="state-list">
						<li ng-repeat="state in states" ng-click="updateState('state', state.name)">{{state.name}}</li>
					</ul>
				</div>
				<div ng-hide="cities.length == 1 || states.length > 1 || filteredData.state">
					<p class="tip"><span translate>Filter by city</span>:</p>
					<ul class="city-list">
						<li ng-repeat="city in cities" ng-click="updateState('city', city.name)">{{city.name}}</li>
					</ul>
				</div>
			</div>
		</nav>

		<div id="stage-summary">
			<article id="main-count">
				<div ng-show="contents.length">
					<div class="count-item" title="{{'Locations' | translate}}" ng-hide="feature">
						<span class="mcf">&#xE600;</span>
						<span class="count content">{{features.length}}</span>
					</div>
					<div class="count-item" title="{{'Reports' | translate}}">
						<span class="lsf">&#xe101;</span>
						<span class="count feature">{{contents.length}}</span>
					</div>
				</div>
				<div ng-hide="contents.length">
					<p class="not-found" translate>Nothing found</p>
				</div>
			</article>
			<div class="stage-summary-content">
				<div ng-hide="content">
					<p class="filtering-label" ng-show="filteredData.feature || filteredData.layer || filteredData.country || filteredData.state" translate>Viewing reports in</p>
					<p class="filtering-label" ng-hide="filteredData.feature || filteredData.layer || filteredData.country || filteredData.state" translate>Latest reports</p>
					<div ng-show="filteredData.feature" ng-click="updateState('feature', '')" class="filter-box">
						{{filteredData.feature.title}}
					</div>
					<div ng-show="filteredData.layer && !filteredData.feature" ng-click="updateState('layer', '')" class="filter-box">
						{{filteredData.layer.title}}
					</div>
					<div ng-show="filteredData.country && !filteredData.feature" ng-click="updateState({'country': '', 'state': '', 'city': ''})" class="filter-box">
						{{filteredData.country}}
					</div>
					<div ng-show="filteredData.state && !filteredData.feature" ng-click="updateState({'state': '', 'city': ''})" class="filter-box">
						{{filteredData.state}}
					</div>
					<div ng-show="filteredData.city && !filteredData.feature" ng-click="updateState('city', '')" class="filter-box">
						{{filteredData.city}}
					</div>
					<div ng-show="!content">
						<ul class="content-list">
							<li ng-repeat="content in contents">
								<div ng-include="'/views/content/list-item.html'" autoscroll="false"></div>
							</li>
						</ul>
					</div>
				</div>
				<div ng-show="content">
					<div class="single-post sidebar-block active" ng-include="'/views/content/show.html'"></div>
				</div>
			</div>
		</div>
	</div>
</section>