#about-page.page
	.page-header
		.container
			.twelve.columns
				h1(translate="") About the project
	.page-content
		.container
			.eight.columns
				div(ng-show="locale == 'pt-BR'")
					p
						a(href="http://infoamazonia.org/", target="_blank", title="InfoAmazonia") InfoAmazonia
						| &#233; um projeto da organiza&#231;&#227;o
						a(href="http://oeco.org.br/", title="OEco", target="_blank") OEco
						| , que agrega dados e not&#237;cias sobre a Amaz&#244;nia dos nove pa&#237;ses em um mapa digital que fornece informa&#231;&#245;es e bases de dados georreferenciadas de fatos, pesquisas e outros na regi&#227;o. O projeto &#233; apoiado por uma rede de organiza&#231;&#245;es e jornalistas que oferecem atualiza&#231;&#245;es constantes sobre temas ambientais da Amaz&#244;nia nos nove pa&#237;ses que a cont&#233;m. Bancos de dados compartilhados InfoAmazonia est&#227;o sempre dispon&#237;veis para download e s&#227;o atualizados com freq&#252;&#234;ncia. A mistura e interc&#226;mbio de not&#237;cias e dados visa melhorar a percep&#231;&#227;o dos desafios para a conserva&#231;&#227;o da floresta.
					p
						| Hoje o InfoAmazonia est&#225; desenvolvendo melhorias para sua plataforma, que ir&#225; fornecer espa&#231;o para organiza&#231;&#245;es, sociedade civil, associa&#231;&#245;es e comunidades para publicar e gerenciar suas pr&#243;prias not&#237;cias e publica&#231;&#245;es de interesse, tais como estudos, notas jornal&#237;sticas ou outros. Em nossa fase inicial estamos trabalhando com um projeto piloto com informa&#231;&#245;es sobre os rios amaz&#244;nicos, onde queremos georreferenciar em nossos mapas e localizar fatos ou dados como:
					ul
						li Minera&#231;&#227;o (lugares onde s&#227;o realizados, pontos ou &#225;reas afetadas , etc.)
						li Polui&#231;&#227;o (seja pela minera&#231;&#227;o, petr&#243;leo, ind&#250;stria, etc.)
						li Uso de recursos (pesca, pesca ilegal, etc.)
						li
							| Hidrocarbonetos (&#225;reas de opera&#231;&#227;o , estradas, &#225;reas de derramamento, constru&#231;&#227;o de torres ou plataformas, lagos de petr&#243;leo, etc.)
						li Infraestrutura (represas, estradas, pontes, etc.)
						li Projetos e a&#231;&#245;es de conserva&#231;&#227;o
						li Interven&#231;&#245;es humanas na selva que afetam os rios
					p
						| Outras quest&#245;es ambientais da Amaz&#244;nia s&#227;o bem-vindas e podem ser desenvolvidas e apoiadas pela nossa equipe, para ser publicadas e/ou republicadas na nossa plataforma, dando maior visibilidade &#224;s publica&#231;&#245;es de organiza&#231;&#245;es ou grupos envolvidos. Notas ou publica&#231;&#245;es geradas em sua organiza&#231;&#227;o tamb&#233;m pode ser publicadas no InfoAmazonia atrav&#233;s de sua pr&#243;pria conta em nosso sistema, oferecendo visibilidade &#224; sua institui&#231;&#227;o.
					p
						| Convidamos sua organiza&#231;&#227;o a ser nossa aliada, e trabalhar junto com o InfoAmazonia. Para mais detalhes, por favor entre em contato conosco para conhecer mais do nosso projeto InfoAmazonia &#193;gua.
				div(ng-show="locale == 'es-ES'")
					p
						a(href="http://infoamazonia.org/", target="_blank", title="InfoAmazonia") InfoAmazonia
						| es un proyecto de la organizaci&#243;n period&#237;stica
						a(href="http://oeco.org.br/", title="OEco", target="_blank") OEco
						| que agrega datos y noticias sobre la Amazonia de los nueve pa&#237;ses en un mapa digital que provee informaci&#243;n georreferenciada y bases de datos de noticias, estudios y otros datos de esta selva tropical. El proyecto es sustentado por una red de organizaciones y periodistas que ofrecen actualizaciones constantes de los nueve pa&#237;ses de la regi&#243;n. Las bases de datos compartidas por InfoAmazonia estar&#225;n siempre disponibles para descargarlas y son renovadas frecuentemente. El cruce de noticias con datos pretende mejorar la percepci&#243;n sobre los desaf&#237;os para la conservaci&#243;n de la selva.
					p
						| Hoy en d&#237;a InfoAmazonia est&#225; desarrollando mejoras en su plataforma, en la que ofrecer&#225; espacio para que organizaciones, sociedades civiles, agrupaciones y comunidades puedan publicar y gestionar sus propias noticias y publicaciones de su inter&#233;s, como estudios, notas u otros. En nuestra etapa inicial y como un piloto pretendemos trabajar con informaciones, noticias o datos sobre los r&#237;os amaz&#243;nicos (enviadas por organizaciones, agrupaciones, comunidades u otros) las que ser&#225;n  localizadas en nuestros mapas. Los temas relacionados a los r&#237;os amaz&#243;nicos que buscamos son:
					ul
						li Miner&#237;a (lugares donde se realiza, zonas o puntos afectados, etc.)
						li Contaminaci&#243;n (ya sea por miner&#237;a, hidrocarburos, industrias, etc.)
						li Uso de los recursos (pesca, pesca ilegal, etc.)
						li
							| Hidrocarburos (zonas de explotaci&#243;n, caminos petroleros, zonas de derrames, construcci&#243;n de plantas, lagunas, etc.)
						li Infraestructura (hidroel&#233;ctricas, carreteras, puentes, etc.)
						li Proyectos o acciones de conservaci&#243;n
						li Intervenciones a la selva que afectan a los r&#237;os.
					p
						| Otros temas ambientales relacionados con la Amazonia ser&#225;n bienvenidos, y podr&#225;n ser desarrollados y apoyados por nuestro equipo, para ser publicados y/o republicados en nuestra plataforma, dando una mayor visibilidad a las publicaciones de las organizaciones o grupos que participen.
					p
						| En esta ocasi&#243;n invitamos a que su organizaci&#243;n participe de InfoAmazonia de la siguiente manera:
					ol
						li
							| Publicando sus notas relacionadas a los r&#237;os amaz&#243;nicos en InfoAmazonia (como estamos en nuestro proyecto piloto sobre r&#237;os, ustedes pueden enviarnos los links de sus noticias sobre los r&#237;os, y nosotros lo publicaremos en InfoAmazonia a trav&#233;s de nuestras propias cuentas, pero m&#225;s adelante, cada organizaci&#243;n podr&#225; tener su propia cuenta y publicar directamente)
						li
							| Abrir su cuenta digital en InfoAmazonia, con la que podr&#225;n m&#225;s adelante publicar solitos sus notas, datos, estudios u otros, sobre la Amazonia.
						li
							| Seg&#250;n las posibilidades, compartir con InfoAmazonia datos georreferenciados para crear nuevas capas de los mapas sobre temas espec&#237;ficos, como por ejemplo: especies de peces end&#233;micas de la Amazonia colombiana; capa sobre lugares donde empresas desechan sus residuos directo al r&#237;o; etc.
						li
							| Las notas o publicaciones generadas en su organizaci&#243;n y que sean publicadas en InfoAmazonia, apoyar&#225;n la visibilidad de su instituci&#243;n, ya que InfoAmazonia se publica en tres idiomas: portugu&#233;s, espa&#241;ol e ingl&#233;s, y tiene un promedio de 10 mil visitas mensuales.
					p
						| Invitamos a que sean nuestros aliados, y que puedan participar en InfoAmazonia. Por tal motivo, le rogamos puedan contactarnos para ampliar la informaci&#243;n y pactar la participaci&#243;n de su organizaci&#243;n junto a nosotros.