ng-include(src="'/views/map/show.html'", ng-controller="MapCtrl", onload="initMap(mapId, mapOptions)")
#collaborators.anti-row.row
	.section-title.row
		.container
			.twelve.columns
				h3(translate="")
					| Reports collaborators
	.section-content.collaborators
		.container
			.collab-item.row
				.four.columns
					.collab-thumb
						a(href="#")
							img(src="http://infoamazonia.org/wp-content/uploads/2014/04/logo-ICV.jpg")
				.eight.columns
					h3
						a(href="#") Instituto Centro de Vida (ICV)
					p(translate="") bioICV
					p.collab-links
						a(href="#")
							| &#187;
							span(translate="") View profile 
						a(href="http://www.icv.org.br/", target="_blank")
							| &#187;
							span(translate="") View website
			.collab-item.row
				.four.columns
					.collab-thumb
						a(href="#")
							img(src="/img/collab/herencia.jpg")
				.eight.columns
					h3
						a(href="#") HERENCIA
					p(translate="") bioHerencia
					p.collab-links
						a(href="#")
							| &#187;
							span(translate="") View profile 
						a(href="http://www.herencia.org.bo/", target="_blank")
							| &#187;
							span(translate="") View website
			.collab-item.row
				.four.columns
					.collab-thumb
						a(href="#")
							img(src="http://www.dar.org.pe/img/cabesera/logotipoDAR.png")
				.eight.columns
					h3
						a(href="#") DAR
					p(translate="") bioDAR
					p.collab-links
						a(href="#")
							| &#187;
							span(translate="") View profile 
						a(href="http://www.dar.org.pe/inicio.htm", target="_blank")
							| &#187;
							span(translate="") View website
			.collab-item.row
				.four.columns
					.collab-thumb
						a(href="#")
							img(src="http://www.actualidadambiental.pe/wp-content/themes/arthemia/images/logo_aa.png")
				.eight.columns
					h3
						a(href="#") SPDA ACTUALIDAD AMBIENTAL
					p(translate="") bioSPDA
					p.collab-links
						a(href="#")
							| &#187;
							span(translate="") View profile 
						a(href="http://www.actualidadambiental.pe/", target="_blank")
							| &#187;
							span(translate="") View website
			.collab-item.row
				.four.columns
					.collab-thumb
						a(href="#")
							img(src="img/logo-faunagua-345x175.jpg")
				.eight.columns
					h3
						a(href="#") FAUNAGUA
					p(translate="") bioFAUNAGUA
					p.collab-links
						a(href="#")
							| &#187;
							span(translate="") View profile 
						a(href="http://www.faunagua.org/", target="_blank")
							| &#187;
							span(translate="") View website
